.list-cards {
  display: flex;
  padding: 0px 120px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.div-list {
  display: flex;
  padding: 0px 120px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
}
.main-content {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 32px;
  width: 1440px;
  height: 100vh;
  box-sizing: border-box;
}
