.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.txt-enter-up {
  color: #94a3b8;
  text-align: right;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.arrow-up {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  background-color: #dcfce7;
}

.txt-value {
  color: #1e293b;
  font-family: Inter;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

span {
  color: #1e293b;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
