.top-header {
  margin: 0%;
  display: flex;
  padding: 20px 0px;
  justify-content: inherit;
  align-items: center;
  background-color: #1e3a8a;
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile {
  align-items: center;
}

.img-logo {
  width: 50px;
  height: 50px;
}
.txt-logo {
  color: #eff6ff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
}

img {
  width: 100%;
}
.img-round {
  /* border-radius: 100%; */
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nm-email-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
.nm-profile {
  color: #eff6ff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  text-align: right;
}

.email-profile {
  color: #eff6ff;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
