.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}
.txt-enter-up {
  color: #94a3b8;
  text-align: right;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.arrow-up {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  background-color: #dcfce7;
}

.arrow-down {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  align-items: center;
  border-radius: 6px;
  background-color: #fee2e2;
}

.txt-value {
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

span {
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.img-balance {
  color: #1e3a8a;
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.bg-balance {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #dbeafe;
}
