.card {
  display: flex;
  height: 120px;
  width: 276px;
  padding: 14px 30px 13px 27px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: 11px;
  border: 1px solid #cbd5e1;
  background-color: #f8fafc;
  box-shadow: 5px 15px 30px -5px #dce0ec;
}
