.ft-page {
  bottom: 0px;
  margin-top: 0px;
  width: 100%;
  display: flex;
  padding: 20px 120px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #cbd5e1;
  box-sizing: border-box;
}

.nm-aluno {
  color: var(--tailwind-colors-slate-800, #1e293b);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 20.8px */
  color: #1e293b;
}

.txt-footer {
  color: var(--tailwind-colors-slate-800, #1e293b);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  color: #1e293b;
}
